@model IEnumerable<SkateboaringMVCproject.Models.TrickType>

@{
    ViewBag.Title = "Index";
}

<h2>Trick Names</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TrickName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TrickName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TrickTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TrickTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TrickTypeID })
        </td>
    </tr>
}

</table>
